body {
    min-height: 100vh;
}
.header-bar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 22%;
    position: sticky;
    top: 0;
    background-color: #ffffff;
    padding-top: 20px;
    z-index: 5;
}
.header-bar__logo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.nav-bar {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    gap: 35px;
    flex-grow: 0.5;
}
.nav-bar__menu {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    flex-grow: 0.4;
}
.nav-bar__menu-item {
    display: inline-flex;
}
a {
    text-decoration: none;
}
.nav-bar__menu-item--link {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 28px;
    color: #2f281e;
    padding-left: 5px;
    padding-right: 5px;
}
.nav-bar__menu-item--link:hover {
    background-color: #e5e8ec;
    border-style: none;
    border-radius: 4px;
}
.nav-bar__actions {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.nav-bar__cta-sign-in {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    color: #173a56;
    border-color: #bcd0e5;
    border-style: solid;
    border-width: thin;
    border-radius: 4px;
    padding-bottom: 11px;
    padding-top: 11px;
    padding-left: 25px;
    padding-right: 22px;
}
.nav-bar__cta-sign-in:hover {
    background-color: #bcd0e5;
}
.nav-bar__cta-sign-up {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    color: #ffffff;
    background-color: #ff9900;
    border-style: solid;
    border-width: thin;
    border-radius: 4px;
    padding-bottom: 11px;
    padding-top: 11px;
    padding-left: 25px;
    padding-right: 23px;
}
.nav-bar__cta-sign-up:hover {
    background-color: #f57600;
}
.hero-section {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.hero-section__content {
    display: flex;
    flex-direction: column;
    max-width: 518px;
}
.hero-section__title {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 44px;
    line-height: 54px;
    color: #2f281e;
}
.hero-section__info {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 28px;
    color: #544837;
    max-width: 458px;
    margin-top: 0;
    margin-bottom: 22px;
}
.hero-section__image {
    display: flex;
    padding-top: 20px;
    min-height: 496px;
    height: 100%;
}
.hero-section__actions {
    margin-top: 22px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    flex-grow: 2;
}
.hero-section__cta--btn {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    color: #ffffff;
    background-color: #ff9900;
    padding-left: 41px;
    padding-right: 41px;
    padding-top: 15px;
    padding-bottom: 14px;
    border-radius: 4px;
}
.hero-section__cta--btn:hover {
    background-color: #f57600;
}
.triangle-right {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 15px solid #ff9900;
    border-bottom: 10px solid transparent;
    border-radius: 3px;
    margin-left: 30px;
}
.hero-section__cta--video-btn {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    color: #ff9900;
    text-decoration: underline;
    text-decoration-thickness: 1px;
}
.features-section {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    padding-bottom: 50px;
    margin-bottom: 50px;
}
.features-section__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin-top: 40px;
}
.features-section__title {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 36px;
    color: #2f281e;
    max-width: 539px;
    max-height: 108px;
    text-align: center;
}
.features-section__cards {
    display: flex;
    flex-direction: row;
    gap: 50px;
}
.features-section__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 240px;
    max-height: 204px;
    align-items: baseline;
}
.features-section__card-heading {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 22px;
    color: #2f281e;
}
.features-section__card-info {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 26px;
    color: #544837;
}
.features-section__cta--btn {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    color: #ffffff;
    background-color: #ff9900;
    padding-left: 34px;
    padding-right: 32px;
    padding-top: 15px;
    padding-bottom: 14px;
    border-radius: 4px;
}
.features-section__cta--btn:hover {
    background-color: #f57600;
}
.roles-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.roles-section__content {
    display: flex;
    flex-direction: column;
    max-width: 486px;
    min-height: 531px;
}
.roles-section__eyebrow-headline {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #544837;
    margin-bottom: 8px;
}
.roles-section__title {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 36px;
    color: #2f281e;
    margin-bottom: 12px;
    margin-top: 0;
}
.roles-section__text {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 26px;
    color: #544837;
    margin-top: 12px;
    margin-bottom: 25px;
}
.roles-section__text--intro {
    margin-bottom: 30px;
}
.roles-section__subheading {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    line-height: 26px;
    color: #2f281e;
    margin: 0;
    display: flex;
    flex-direction: column;
}
.roles-section--product-managers {
    flex-direction: row-reverse;
}
.roles-section__list {
    list-style-type: none;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    padding: 0;
}
.roles-section__list-item--icon {
    margin-right: 30px;
}
.roles-section__list-text {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 26px;
    color: #544837;
    display: inline-flex;
    margin-bottom: 30px;
}
